:root{
    --dark__bg__color: #183D3D;
    --light__bg__color: #93B1A6;
    --dark__accent__color: #289292;
    --light__accent__color: #56e4e4;
    --dark__font__color: #222222;
    --neutral__font__color: #777777;
    --light__font__color: #f2f0f0;
    --normal__font__size: 1rem;
    --large__font__size: 1.5rem;
    --small__font__size: 0.75rem;
    --normal__border__radius: 1rem;
    --normal__font: 'M PLUS Rounded 1c', 'Varela Round', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #dedede;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:active {
  background: #555; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    user-select: none;
    font-family: var(--normal__font);
    background-color: var(--light__bg__color);
    visibility: hidden;
}

.body__dark__theme{
    background-color: var(--dark__bg__color);
}

#theme__icon{
    font-size: 2rem;
    cursor: pointer;
    color: var(--light__font__color);
}

.container{
    width: 75%;
    border: 1px solid orangered;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 14rem;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light__font__color);
}

.nav__hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    color: var(--light__font__color);
}

.about__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.about__text p{
    font-size: var(--normal__font__size);
}

.social__links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 2.25rem;
}

.social__links a{
    color: #5C8374;
}

.about__img img{
    width: 18rem;
    height: auto;
    border-radius: 1rem;
}

.projects__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.project__row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project__card{
    color: var(--light__font__color);
    width: 25%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #5C8374;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project__card img{
    width: 8rem;
    height: auto;
    border-radius: 1rem;
    margin: auto;
}

.project__link{
    background-color: var(--dark__bg__color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.project__link a{
    text-decoration: none;
    color: var(--light__font__color);
}

.card__hidden{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.project__row .project__card:nth-child(2){
    transition-delay: 200ms;
}

.project__row .project__card:nth-child(3){
    transition-delay: 400ms;
}

@media(prefers-reduced-motion){
    .card__hidden{
        transition: none;
    }
}

.card__show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.desktop__nav__menu{
    width: 10rem;
    height: 500px;
    background-color: #183D3D;
    
}

.mobile__navbar{
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--dark__bg__color);
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
}

.mobile__navbar a .fa-solid{
    color: var(--light__font__color);
    font-size: 1.25rem;
}

@media(max-width: 600px){
    .mobile__navbar{
        display: flex;
    }
}

@media(max-width: 700px){
    .about__container{
        flex-direction: column-reverse;
    }

    .project__row{
        flex-direction: column;
        gap: 5rem;
    }

    .project__card{
        width: 100%;
    }
}